.container {
    width: 607px;
    height: 829px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}


.top-bar input{
    display: flex;
    width: 362px;
    height: 78px;
    background: #ebfffc;
    border:none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.weather-temp{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 120px;
    font-weight: 400;
}


.weather-location{
    display: inline-block;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Add an ellipsis at the end if text overflows */
    max-width: 100%; /* Set a maximum width */
}


.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}


.data{
    font-size: 34px;
    font-weight: 400;
}


.text{
    font-size: 20px;
    font-weight: 400;
}


.icon{
    margin-top: 10px;
}

.main-icon{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.lucky-button {
    height: 39px;
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 0 20px;
    border: 2px solid white; /* Adjust the border size and color to match the 'Twin' button */
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none; /* Remove outline on focus for aesthetic reasons */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
    transform: translateY(-50%);
}

.lucky-button:hover {
    background-color: white; /* Change color on hover */
    color: #130754; /* Text color on hover, adjust as needed */
}

.weather-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 100%;
}
.weather-details-button-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.where-else {
    position: absolute;
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%);
    margin-top: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
    padding: 0 20px; 
    border: 2px solid white; 
    border-radius: 40px; 
    height: 39px; 
    line-height: 35px; 
    transition: background-color 0.3s, color 0.3s; 
    text-align: center; 
}

.where-else:hover {
    background-color: white; /* Change color on hover to match '.lucky-button' */
    color: #130754; /* Text color on hover to match '.lucky-button', adjust as needed */
}