.container {
    width: 607px;
    height: 829px;
    margin: auto;
    margin-top: 75px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.top-bar{
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 60px;
}


.top-bar input{
    display: flex;
    width: 362px;
    height: 78px;
    background: #ebfffc;
    border:none;
    outline: none;
    border-radius: 40px;
    padding-left: 40px;
    color: #626262;
    font-size: 20px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 78px;
    height: 78px;
    background: #ebfffc;
    border-radius: 40px;
    cursor: pointer;
}

.weather-image{
    margin-top: 29px;
    display: flex;
    justify-content: center;
}

.weather-temp {
    display: flex;
    align-items: center; 
    color: white;
    font-size: 120px; 
    font-weight: 400;
    position: relative; 
    margin: 0; 
}


.weather-location{
    display: inline-block;
    justify-content: center;
    color: white;
    font-size: 60px;
    font-weight: 400;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 100%;
}


.data-container{
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 12px;
}


.data{
    font-size: 34px;
    font-weight: 400;
}


.text{
    font-size: 20px;
    font-weight: 400;
}


.icon{
    margin-top: 10px;
}

.main-icon{
    width: 250px;
    height: 250px;
    object-fit: contain;
}

.lucky-button {
    height: 39px;
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 0 20px;
    border: 2px solid white; 
    border-radius: 40px;
    background-color: transparent;
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none; 
    transition: background-color 0.3s, color 0.3s; 
    transform: translateY(-50%);
}

.lucky-button:hover {
    background-color: white; 
    color: #130754; 
}

.weather-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    max-width: 100%;
}
.weather-details-button-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.where-else {
    position: absolute;
    right: 20px; 
    top: 50%; 
    transform: translateY(-50%);
    margin-top: 0;
    color: white;
    font-size: 20px;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
    padding: 0 20px; 
    border: 2px solid white; 
    border-radius: 40px; 
    height: 39px; 
    line-height: 35px; .unit-button {
        padding: 5px;
        margin: 0;
        background: none;
        border: none;
        color: inherit;
        font-size: 0.8em;
        cursor: pointer;
    }
    
    .unit-button:focus {
        outline: none;
    }
    transition: background-color 0.3s, color 0.3s; 
    text-align: center; 
}

.where-else:hover {
    background-color: white; 
    color: #130754; 
}


.temperature-container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 5px; 
}

.unit-button {
    padding: 5px 10px; 
    background: transparent;
    border: 2px solid white; 
    border-radius: 40px; 
    color: white; 
    font-size: 10px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

.unit-button:hover {
    background-color: white; 
    color: #130754;
}

.unit-button:focus {
    outline: none;
}


.search-container {
    position: relative; 
}

.suggestions-container {
    position: absolute;
    top: 100%; 
    left: 0;
    width: calc(100% - 2px); 
    background-color: rgba(255, 255, 255, 0.2); 
    z-index: 1000;
    border: 1px solid #ccc; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    max-height: 200px; 
    overflow-y: auto; 

}

.suggestion {
    text-align: left;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.4s; 
}

.suggestion:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
